<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="jumbotron text-center">
        <h1 class="display-4">We're Under Construction!</h1>
        <p class="lead">"I'm not arguing, I'm just explaining why I'm right."</p>
        <hr class="my-4">
        <p>its the signup page!</p>
    </div>
</div>
<div class="container text-center pb-4">
    <a href="{{ url_for('home') }}" class="btn btn-outline-info text-center">Go Home</a>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
